**/node_modules
**/dist
**/.output
**/.nuxt
**/.nitro
**/.cache
**/coverage
data
.git
.gitignore
.env
.env.*
!.env.example
*.log
.DS_Store
.vscode
.idea
Dockerfile
docker-compose.yml
telegram-bot-api-data
